:root {
  --bs-dark: #1a1321;
  --bs-dark-rgb: 26, 19, 33;
  --bs-body-bg: #1a1321;
  --bs-body-color: #fff;
  --bs-font-sans-serif: 'Arvo', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* --branding-orange: #c17d72; */
  --branding-orange: #db8e7b;
  /* --branding-orange: red; */
  --hover-color: #A19AB2;
}

.darker {
  background-color: var(--bs-dark);
  color: var(--bs-white);
}

.hero a {
  color: #e6aaa1;
}

.navbar-brand img{
  width: 270px;
}

.navbar-dark .navbar-nav .nav-link{
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--hover-color);
}

.highlight {
  color: var(--branding-orange);
}

a {
  color: var(--branding-orange);
}

a:hover {
  color: var(--hover-color);
}

h1, h2, h3, .font-fibberish {
  font-family: 'fibberishregular';
}

h2 {
  margin-bottom: 0;
}

h3 {
  color: var(--branding-orange);
  margin-top: 4rem;
  margin-bottom: 0;
}

/* Navigation */
.navbar-dark .navbar-toggler {
  border-color: transparent;
}

/* Press Kit */
.presskit {
  line-height: 2;
}

.presskit a{
  color: #fff;
}

.presskit a:hover {
  color: var(--hover-color);
}

.presskit small {
  font-size: 0.75rem;
}

.presskit-hero {
  margin-top: 60px;
}

.presskit-screenshots img {
  margin-bottom: 1.5rem;
}

summary {
  color: var(--hover-color);
}

/* Figure */
figure {
  background: #A19AB2;
  padding: 1rem;
  font-family: 'fibberishregular';
  color: var(--bs-body-bg);
  font-size: 1rem;
  /* rotate: 1deg; */
  transform: rotate(-1deg);
  box-shadow: 0 0 20px #000;
  transition: transform 500ms ease;
  border-radius: 0.3rem;
}

figure.other-side {
  transform: rotate(1deg);
}

figure:hover {
  transform: rotate(0deg);
}

figcaption {
  text-transform: lowercase;
  text-align: center;
  margin-top: 1rem;
}

/** Components **/
.color-purple {
  color: var(--hover-color);
}

.color-bg-orange {
  background-color: var(--branding-orange);
  color: #1a1321;
}

/* Hero */
.full-height {
  height: 100vh;
}

.hero-heading {
  font-size: 5rem;
  font-weight: normal;
  color: var(--branding-orange);
  margin-bottom: 0;
}

.hero-link {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  display: block;
  margin-top: -1rem;
}

.hero-container {
  z-index: 15;
}

video {
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/* CTA */
.main-cta {
  font-family: 'fibberishregular';
  background: var(--branding-orange);
  border: none;
  color: var(--bs-body-bg) !important;
  font-size: 1.5rem;
  padding-top: 0.8rem;
}

.hover-purple:hover,
.main-cta:focus,
.main-cta:hover {
  background: var(--hover-color);
  color: var(--bs-body-bg);
}

/* Revue */
#mc-embedded-subscribe-form label {
  font-weight: normal;
  text-transform: lowercase;
  margin-right: 1rem;
}

#mc-embedded-subscribe-form input[type=text]:focus,
#mc-embedded-subscribe-form input[type=email]:focus,
#mc-embedded-subscribe-form input[type=text],
#mc-embedded-subscribe-form input[type=email]{
  background: transparent;
  border: none;
  height: 20px;
  border-bottom: 1px solid white;
  width: 100%;
  color: white;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
}

#mc-embedded-subscribe-form input[type=submit] {
  text-transform: lowercase;
  border: none;
  width: 100%;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
}

.revue-form-group {
  display: flex;
}

.revue-form-footer {
  font-size: 0.8rem;
}

/* Footer */
.footer-logo {
  width: 180px;
}

.footer-icons span {
  display: none;
}

.footer-icons img {
  width: 24px;
  margin: 0 24px;
}

.footer-icons a {
  text-decoration: none;
}

.footer-small-heart {
  width: 20px;
  margin-top: -10px;
}

/* Responsive */
@media (min-width: 544px) {
    .hero-heading{font-size: 6rem;}
    .hero-link {margin-top: -2rem;}
    .main-cta {font-size: 2rem;}
    figure {font-size: 2rem;}
}


@media (min-width: 768px) {
    .hero-heading{font-size: 12rem;}
    .hero-link{font-size: 4rem; margin-top: -5rem;}
    .main-cta {font-size: 2rem;}
    figure {font-size: 2rem;}
}
